/* ##### ##### ##### LAYOUT ##### ##### ##### */
html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background: url("../images/background_recycled_paper.jpg");
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
}

/* ---------- HEADER ---------- */

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menu {
  width: 100%;
  min-height: 40px;
  background-color: #30292B;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#menu>ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
}

#menu>ul>li {
  padding: 0px 14px 0px 14px;
}

#menu>ul>li>a {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  color: #F7F1EC;
}

#menu>ul>li>a:hover {
  color: #54CF8C;
}

#admin_link{
  border: solid 1px white;
}

#title_box {
  width: 55%;
  min-height: 130px;
  background: url("../images/title_img.png");
  background-size: cover;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #F7F1EC;
  margin-top: 15px;
}

/* ---------- GENERAL BODY ---------- */

#main {
	margin: 25px 0 0 0;
	padding: 0;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row;
			flex-flow: row;
  /*border: solid 1px;*/
}

#main>article {
	padding: 20px;
	-webkit-flex: 55%;
			flex: 55%;
	-webkit-order: 2;
			order: 2;
  background-color: #F7F1EC;
  /*border: solid 1px;*/
}

#left {
	-webkit-flex: 22.5%;
			flex: 22.5%;
	-webkit-order: 1;
			order: 1;
  /*border: solid 1px;*/
}

#right {
	-webkit-flex: 22.5%;
			flex: 22.5%;
	-webkit-order: 3;
	order: 3;
  /*border: solid 1px;*/
}

/* ##### ##### ##### PAGES ##### ##### ##### */

/* ---------- PREPARATION VIEW ---------- */

#prep_list_view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.prepa_items {
    background-color: #30292B;
    margin: 10px 10px 10px 10px;
    width: 25%;
    height: 200px;
    border: solid 1px;
}

.prepa_img_div {
  background-color: white;
  width: 100%;
  height: 50%;
}

.prepa_image {
  width: 100%;
  height: 100%;
}

.prepa_text_div {
  width: 100%;
  height: 50%;
}

.prepa_link {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  color: #F7F1EC;
}

/* ##### ##### ##### FORM ##### ##### ##### */

.div_form_field {
  margin: 15px 0 15px 0;
}

#form_field_title {
  width: 300px;
  margin-top: 5px;
  padding: 7px 7px 7px 7px;
  background-color: #ffffff;
  border: 2px solid #30292B;
  display: block;
  -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
      border-radius: 3px;
}

#form_field_message {
  width: 350px;
  height: 100px;
  margin-top: 5px;
  padding: 7px 7px 7px 7px;
  background-color: #ffffff;
  border: 2px solid #30292B;
  display: block;
  -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
      border-radius: 3px;
}

#form_field_published {
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  left: 5px;
}

#login_error_message {
  margin-top: 10px;
}

#preview_image_prepa {
  width: 100px;
  height: 100px;
}

/* ##### ##### ##### OTHER ##### ##### ##### */

.flash_message {
  list-style: none;
}

/* ##### ##### ##### ADMIN ##### ##### ##### */

#admin_menu {
  width: 100%;
  min-height: 40px;
  font-size: 0.7em;
  background-color: #30292B;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#admin_menu>ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

#admin_menu>ul>li {
  padding: 0px 14px 0px 14px;
}

#admin_menu>ul>li>a {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  color: #F7F1EC;
}

#admin_menu>ul>li>a:hover {
  color: #54CF8C;
}

#log_out_button{
  border: solid 1px #ffffff;
  padding: 3px 2px 3px 4px;
  text-align: center;
  background-color: #B22B2A;
}

#log_out_button:hover{
  background-color: #30292B;
}

/* ---------- PREPA LIST ---------- */

.admin_prepa_items {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 4px;
  border-top: solid 1px;
  border-bottom: solid 1px;
  background-color: #ffffff;
}

.admin_prepa_list_links {
  display: inline;
  margin-left: auto;
}

#admin_prepa_list_add_link {
  padding: 2px 3px 2px 3px;
  text-decoration: none;
  color: #F7F1EC;
  background-color: #30292B;
  border-radius: 5px;
}

.admin_prepa_list_modif_link {
  padding: 2px 3px 2px 3px;
  text-decoration: none;
  color: #F7F1EC;
  background-color: #30292B;
  border-radius: 5px;
}

.admin_prepa_list_del_link {
  padding: 2px 3px 2px 3px;
  text-decoration: none;
  color: #F7F1EC;
  background-color: #B22B2A;
  border-radius: 5px;
}

.div_published {
  display: inline;
  color: #41A770;
}

.div_notpublished {
  display: inline;
  color: #B22B2A;
}
