{% extends 'layout.html.twig' %}

{% block title %}
  Contact
{% endblock %}


{% block body %}

  <h2>Contact page</h2>
  <p>Creation en cour.</p>
  <p>TODO: gestion serveur mail</p>

  <ul>
    {% for message in app.flashes('notice') %}
      <li class="flash_message">{{ message}}</li>
    {% endfor %}
  </ul>

  <div>
    {{ form_start(form) }}

    {{ form_errors(form) }}

    <div class="div_form_field">
      {{ form_label(form.Nom, 'Nom', {'label_attr': {'id': 'form_label_nom'}}) }}
      {{ form_widget(form.Nom, {'attr': {'class': 'form_field'}}) }}
    </div>

    <div class="div_form_field">
      {{ form_label(form.Sujet, 'Sujet', {'label_attr': {'id': 'form_label_sujet'}}) }}
      {{ form_widget(form.Sujet, {'attr': {'class': 'form_field'}}) }}
    </div>

    <div class="div_form_field">
      {{ form_label(form.Email, 'Email', {'label_attr': {'id': 'form_label_email'}}) }}
      {{ form_widget(form.Email, {'attr': {'class': 'form_field'}}) }}
    </div>

    <div class="div_form_field">
      {{ form_label(form.Message, 'Message', {'label_attr': {'id': 'form_label_message'}}) }}
      {{ form_widget(form.Message, {'id': 'form_field_message'}) }}
    </div>

    {{ form_end(form) }}
  </div>


{% endblock %}
