<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title>{% block title %}plants{% endblock %}</title>

  {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('assets/css/layout_style.css') }}"/>
  {% endblock %}
</head>

<body>
  <header>
    <nav id="menu">
      <ul>
        <li><a href="{{ path('herb_core_homepage') }}">Accueil</a></li>
        <li><a href="{{ path('herb_article_page') }}">Articles</a></li>
        <li><a href="{{ path('herb_DBPlant_page') }}">Herbier</a></li>
        <li><a href="{{ path('herb_prepa_page') }}">Préparation</a></li>
        <li><a href="{{ path('herb_about_page') }}">A propos</a></li>
        <li><a href="{{ path('herb_contact_page') }}">Contact</a></li>
        <li id="admin_link"><a href="{{ path('herb_admin_homepage') }}">Admin</a></li>
      </ul>
    </nav>

    <div id="title_box">
      <h1>-- L'herbotique --</h1>
    </div>

  </header>

  <div id="main">
    <aside id="left">
      {% block left %}
      {% endblock %}
    </aside>
    <article>
      {% block body %}
      {% endblock %}
    </article>
      {% block right %}
      {% endblock %}
    <aside id="right">
    </aside>
  </div>

{% block footer %}
{% endblock %}

</body>
</html>
