{% extends 'layout.html.twig' %}

{% block title %}
  A propos
{% endblock %}




{% block body %}

  <h2>About</h2>
  <p>Creation a venir.</p>
  <p>Peu être, Qui je suis, ce que j'aime, ce que je fait</p>
  <p>TODO: bonne question</p>

{% endblock %}
