{% extends 'layout.html.twig' %}

{% block title %}
  Article
{% endblock %}




{% block body %}

  <h2>Article</h2>
  <p>Creation a venir.</p>
  <p>Liste des articles, un article/cour peu être</p>
  <p>TODO: Bonne question</p>

{% endblock %}
