{% extends 'layout.html.twig' %}

{% block title %}
  Base de données
{% endblock %}




{% block body %}

  <h2>DB Plantes</h2>
  <p>Creation a venir.</p>
  <p>Liste des plantes de la BD avec photo, possibilité pour les users d'en ajouter</p>
  <p>affichage en ligne, 3/ligne</p>
  <p>TODO: gestion db, ajout 6 plants to db, moteur recherche / principe-actif_maux_autre</p>

{% endblock %}
