<nav id="admin_menu">
  <ul>

    <li>
        <a href="{{ path('herb_admin_homepage') }}">Accueil admin</a>
    </li>

    <li>
        <a href="{{ path('herb_admin_article_creation_page') }}">Ajouter un article</a>
    </li>

    <li>
        <a href="{{ path('herb_admin_prepa_list_page') }}">préparations</a>
    </li>

    <li>
        <a href="{{ path('logout') }}" id="log_out_button">Logout</a>
    </li>

  </ul>
</nav>
