{% block stylesheets %}
  <script src="{{ asset('bundles/stfalcontinymce/vendor/tinymce/tinymce.min.js') }}"></script>
  <script>
      tinymce.init({use_callback_tinymce_init: false,
                    selector: 'textarea',
                    height: 350,
                    branding: false,
                    convert_urls: false,
                    plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak searchreplace wordcount visualblocks visualchars code fullscreen media nonbreaking save table contextmenu directionality emoticons template paste textcolor',
                    images_upload_url: '{{ asset('upload.php') }}',
                    images_upload_handler: function(blobInfo, success, failure) {
                      var xhr, formData;

                      xhr = new XMLHttpRequest();
                      xhr.withCredentials = false;
                      // Init the request
                      xhr.open('POST', '{{ asset('upload.php') }}');

                      // When end ajax request
                      xhr.onload = function() {
                          var json;

                          if (xhr.status != 200) {
                              failure('HTTP Error: ' + xhr.status);
                              return;
                          }

                          json = JSON.parse(xhr.responseText);

                          if (!json || typeof json.location != 'string') {
                              failure('Invalid JSON: ' + xhr.responseText);
                              return;
                          }

                          success(json.location);
                      };

                      formData = new FormData();

                      // create file name
                      if (document.title == 'PrepaCreation') {
                          prefix = 'preparation_';
                      } else {
                        prefix = 'need_some_improvment_';
                      }

                      fileName = prefix + document.getElementById('form_field_title').value + '_' + blobInfo.filename();

                      formData.append('file', blobInfo.blob(), fileName);

                      // Send the request
                      xhr.send(formData);
                    }
                  })
  </script>
{% endblock %}
