{% extends 'layout.html.twig' %}

{% block title %}
  Préparation
{% endblock %}


{% block body %}

  <h2>Préparation page</h2>
  <p>Creation a venir.</p>
  <p>Liste des différentes maniere d'utilisé les plantes, avec tuto</p>


  <div id="prep_list_view">
    {% for preparation in preparations %}
        <div class="prepa_items">
            <div class="prepa_img_div">
                <img src="{{ asset('assets/images/preparation/' ~ preparation.vignette) }}" class="prepa_image">
            </div>
            <div class="prepa_text_div">
                <a href="{{ path('herb_prepa_view_page', {'titre': preparation.titre}) }}" class="prepa_link">{{ preparation.titre }}</a>
            </div>
        </div>
    {% endfor %}
  </div>


{% endblock %}
