{% extends 'layout.html.twig' %}

{% block title %}
  Préparation
{% endblock %}


{% block body %}

  <div id="prep_view">
    <h1>{{ preparation.titre }}</h1>
    {{ preparation.description  | raw }}
    {{ preparation.contenu  | raw }}
  </div>

{% endblock %}
