{% extends 'layout.html.twig' %}

{% block title %}
  Admin
{% endblock %}

{% block body %}

  {% include '@herbAdmin/includes/inc.admin_menu.html.twig' %}

  <p>TODO: list article - list prepa comme une todo avec ajouter modifier supprimer</p>


{% endblock %}
