{% extends 'layout.html.twig' %}

{% block title %}
  Login
{% endblock %}




{% block body %}

  <form action="{{ path('login_check') }}" method="POST">

    {% if error %}
      <div id="login_error_message">{{ error.message }}</div>
    {% endif %}

    <div class="div_form_field">
      <label for="username" id="form_label_nom">Login:</label>
      <input type="text" name="_username" value="{{ last_username }}" class="form_field"/>
    </div>

    <div class="div_form_field">
      <label for="password" id="form_label_password">Mot de passe:</label>
      <input type="password" name="_password" class="form_field"/>
    </div>

    <br/>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate')}}" />
    <input type="submit" value="Connexion" />

  </form>

{% endblock %}
