{% extends 'layout.html.twig' %}

{% block title %}
  PrepaCreation
{% endblock %}

{% block body %}

  {% include '@herbAdmin/includes/inc.admin_menu.html.twig' %}

  <ul>
    {% for message in app.flashes('notice') %}
      <li class="flash_message">{{ message}}</li>
    {% endfor %}
  </ul>

  <a href="{{ path('herb_admin_prepa_creation_page') }}" id="admin_prepa_list_add_link">Ajouter une préparation</a>

  <div>
    {% for preparation in preparations %}
        <div class="admin_prepa_items">
            {{ preparation.titre }}

            <div class="admin_prepa_list_links">
              {% if preparation.isPublished %}
                <div class="div_published">Published</div>
              {% else %}
                <div class="div_notpublished">Not published</div>
              {% endif %}

              <a href="{{ path('herb_prepa_view_page', {'titre': preparation.titre}) }}" class="admin_prepa_list_modif_link">Voir</a>
              <a href="{{ path('herb_admin_prepa_edit_page', {'id': preparation.id}) }}" class="admin_prepa_list_modif_link">Modifier</a>
              <a href="{{ path('herb_admin_prepa_del_page', {'id': preparation.id}) }}" class="admin_prepa_list_del_link">Supprimer</a>
            </div>
        </div>
    {% endfor %}
  </div>

{% endblock %}
