{% extends 'layout.html.twig' %}

{% block title %}
  PrepaCreation
{% endblock %}

{% block body %}

  {% include '@herbAdmin/includes/inc.admin_menu.html.twig' %}
  {% include '@herbAdmin/includes/inc.tiny_init.html.twig' %}

  <ul>
    {% for message in app.flashes('notice') %}
      <li class="flash_message">{{ message}}</li>
    {% endfor %}
  </ul>

  <div>
    {{ form_start(form) }}

    {{ form_errors(form) }}

    <div class="div_form_field">
      {{ form_label(form.titre, 'Titre') }}
      {{ form_widget(form.titre, {'id': 'form_field_title'}) }}
    </div>

    <div class="div_form_field">
      {{ form_label(form.isPublished, 'Publié') }}
      {{ form_widget(form.isPublished, {'id': 'form_field_published'}) }}
    </div>

    {% if preparation is defined %}
        <div class="div_form_field">
            <p>Image actuel:</p>
            <img src="{{ asset('assets/images/preparation/' ~ preparation.vignette) }}" id="preview_image_prepa">
        </div>
    {% endif %}

    <div class="div_form_field">
      {{ form_label(form.vignette, 'Vignette') }}
      {{ form_widget(form.vignette, {'id': 'form_field_vignette'}) }}
    </div>

    <div class="div_form_field">
      {{ form_label(form.date, 'Date') }}
      {{ form_widget(form.date, {'id': 'form_field_date'}) }}
    </div>

    <div class="div_form_field">
      {{ form_label(form.description, 'Description') }}
      {{ form_widget(form.description, {'attr': {'class': 'tinymce'}}) }}
    </div>

    <div class="div_form_field">
      {{ form_label(form.contenu, 'Contenu') }}
      {{ form_widget(form.contenu, {'attr': {'class': 'tinymce'}}) }}
    </div>

    {{ form_end(form) }}
  </div>

{% endblock %}
